@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
$default-padding: 10px;
$main-font: 'Quicksand', sans-serif;
$comment-text-color: #9f9f9f;
$default-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;